body {
    font-family: Roboto, sans-serif;
    background-image: url('');
    background-size: cover;
    width: 100%;
    height: 200px;
  }
  
  header {
    padding: 30px;
    margin: 0px;
    background-image: url('https://thumbs.gfycat.com/DenseYoungCrow-max-1mb.gif');
    background-size: cover;
  }
  
